$primary: #4486d1;
$secondary: #3d637c;
$danger: #dd4e4e;
$success: #57bd75;
$info: #77b8e4;
$warning: #ecdc4d;

//cinzas
$preto: #3f413d;
$cinza200: #636663;
$cinza300: #c8c8c8;
$cinza400: #efefef;
$branco: #ffffff;

$input-placeholder-color: rgba(0,0,0,0.2);